@{
  var favorite = Page.ViewData.Model as Favorite;
}

<h2>お気に入りの削除</h2>

<p>削除内容をご確認後、よろしければ「削除する」をクリックしてください。お気に入りの削除が完了します。</p>

<table>
	<thead>
		<tr>
			<td>商品番号</td>
			<td>商品名</td>
			<td>発売日</td>
			<td>販売価格</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>@favorite.Product.ExternalId</td>
			<td><a href="#" target="_blank">@favorite.Product.Name.Trim()</a></td>
			<td>@string.Format("{0:yyyy/MM/dd}",favorite.Product.ReleaseDate)</td>
			<td>@string.Format("{0:#,##0}", Page.Template.GetUnitPriceWithTax(favorite.ProductId)) 円(税込)</td>
		</tr>
	</tbody>
</table>

<form name="cancel" action="@Page.Url.RouteUrl("ModdDefault", new { controller="Member", action="Favorites", id=favorite.ProductId} )" method="post">
	@(Page.Html.HttpMethodOverride("delete"))
	<a href="@Page.Url.RouteUrl("ModdDefault", new { Controller="Member",Action="Favorites", id=(int?)null})" class="btn btn-default btn-ghost">お気に入り一覧へ</a>
	<input type="submit" value="削除する" class="btn btn-error">
  @(Page.Html.SessionAntiForgeryToken())
</form>
