@{
  var viewData = Page.ViewData[BasicController.ViewMessageKey] as ViewMessages; 
  var model = Page.ViewData.Model as VM.ChangePassword;
}
@DisplayViewMessages(viewData)

<h3>パスワード変更 - 入力</h3>

<form action="@Page.Template.SecuredLink("ModdDefault", new {controller="Member", action="Password"})" method="post">
  <p>
  現パスワード @(Page.Html.Password("OldPassword"))
  </p>
  <p>
  新パスワード @(Page.Html.Password("Password"))<br />
  新パスワード再入力 @(Page.Html.Password("ConfirmPassword"))<br />
  </p>

  <p>
  @(Page.Html.SessionAntiForgeryToken())
  <input type="submit" name="update" value="変更" class="btn btn-success"/>
  <p>
</form>
